@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}
/* ================ Aside ====================== */
aside {
  width: 350px;
  min-height: 100vh;
  background: #222533;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  width: 100%;
}

.menu__logo {
  margin: 20px 0 20px;
}
.menu__btn {
  width: 80%;
  padding: 10px 30px;
  background: #222533;
  border: none;
  border-radius: 20px;

  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  cursor: pointer;
}
.menu__btn:hover {
  background: #aec5eb;
  color: #222533;
}

.menu__btn.activo {
  background-color: #aec5eb;
  color: #222533;
}

.menu__categoría {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.menu__icon {
  width: 32px;
}
.cerrar_sesion {
  width: 90%;
  padding: 10px 30px;
  margin: 20px 0;
  background: #222533;
  border: none;
  border-radius: 20px;

  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;

  cursor: pointer;
}

.cerrar_sesion:hover {
  color: #aec5eb;
}
/* ================ Main ====================== */

main {
  width: 100%;
  background: #35394e;
}

/* ================ Main-header ====================== */

.header {
  padding: 19px 10px;

  background: #222533;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__tipo-usuario {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.header__usuario {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__nombre,
.boton {
  padding: 10px;
  border-radius: 10px;
  background: #caff8a;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #222533;
}
.header__icon-usuario {
  width: 43px;
}

/* ================ Contenedor inicio ====================== */

.contenedor {
  display: flex;
  flex-direction: column;

  font-family: "Montserrat", sans-serif;
}

.contenedor_inicio {
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
}

.contenedor_inventario {
  align-items: left;
  padding: 5vh 0 0 5vw;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.botones {
  padding: 5vh 0 0 0.5vw;
  flex-wrap: wrap;
  gap: 5vh;
  display: flex;
  flex-direction: column;
}

.fila {
  gap: 5vw;
  display: flex;
  flex-wrap: wrap;
}
.seleccionador select,
.busqueda {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 180px;
  height: 44px;
  left: 423px;
  top: 224px;
  padding: 1vh;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #35394e;

  color: white;
  font-size: 1rem;
  font-weight: 400;

  transition: all 0.25s ease;
}

.seleccionador select option {
  color: rgb(255, 255, 255);
}

.seleccionador select:hover,
.boton:hover {
  margin-top: 3px;
}

.boton {
  cursor: pointer;
  transition: all 0.25s ease;
  border: none;
}

.boton:hover {
  background-color: #f0ffdd;
}

.busqueda::placeholder {
  color: rgba(255, 255, 255, 0.638);
}

.busqueda_avanzada {
  padding: 5vh 0 0 0.5vw;
  flex-wrap: wrap;
  gap: 1vh;
  transition: all 0.1s ease-out;
}

.hidden {
  display: none;
}

.texto_busqueda_avanzada {
  color: #caff8a;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1rem;
  text-decoration: underline;
  cursor: pointer;
}

.texto_busqueda_avanzada:hover {
  color: #f0ffdd;
}

.filtro_titulo {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.avanzada {
  gap: 5.5vw;
}

.input_num {
  width: 50px;
  height: 44px;
  left: 423px;
  top: 224px;
  padding: 1vh;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #35394e;

  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.minmax_texto {
  font-weight: 10;
  font-size: 0.9rem;
}

.minmax {
  padding-left: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
}

.fila_minmax {
  gap: 5.4vw;
}

.contenedor_minmax {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

/*------------------ CARDS -----------*/
.container__cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards {
  width: 80%;
  font-family: "Montserrat", sans-serif;

  justify-content: center;
  display: flex;

  flex-wrap: wrap;
  gap: 1vw;
}
.card {
  width: 200px;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 1vh;
}
.card__img {
  width: 100px;
  height: 100px;
  align-self: center;
}
.card__btn {
  text-align: center;
  text-decoration: none;
  color: #35394e;
}

.input-carrito {
  width: 30px;
  text-align: center;
  border-radius: 8px;
  background: none;
  color: white;
  border: 1px solid white;
}

/*-------------- ver producto---------- */

.container-ventana {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.22);
  position: FIXED;

  display: none;
  justify-content: center;
  align-items: center;
}
.ventana {
  width: 800px;
  padding: 40px;
  border-radius: 30px;
  /* height: 500px; */
  background: #222533;

  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
}
.ventana__cerrar {
  align-self: end;

  position: absolute;
  cursor: pointer;
}
.ventana__cerrar-img {
  width: 40px;
}
.ventana__titulo {
  align-self: center;
  color: white;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}
.ventana__caracteristicas {
  display: flex;
  gap: 2vw;
}
.ventana__descripcion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  color: white;

  font-family: "Montserrat", sans-serif;
}
.ventana__img {
  width: 150px;
  height: 150px;
}

.ventana__detalle {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
.ventana__detalle-valor {
  font-weight: 300;
}

.container-promos {
  color: white;
  font-family: "Montserrat", sans-serif;

  display: flex;
  gap: 20px;
}
.promo__titulo {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.promo__descripcion {
  font-weight: 300;
}
hr {
  border: 1px solid white;
}
/*-------CARRITO---------------*/
.tabla-carrito {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-spacing: 0;
}

.tabla_carrito__head {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 0;
}
.carrito-importes {
  margin-bottom: 15px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.carrito-importes-valor {
  font-weight: 300;
}
.btns-carrito {
  align-self: end;
}
.btns-carrito a {
  text-decoration: none;
  margin-right: 10px;
}

/* ================ Tabla inventario ====================== */

.contenedor_tabla {
  padding: 8vh 0 10vh 6vh;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.tabla-productos {
  border-collapse: collapse;
  width: 62vw;
  height: 60vh;

  font-weight: 400;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.tabla-productos th {
  font-size: 1.1rem;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 400;
  width: 17%;
  height: 12vh;
}

.tabla-productos th:nth-child(2) {
  width: 7%;
}

.tabla-productos td {
  font-size: 0.9rem;

  height: 12vh;
  padding: 0.8vh;
  /* border-top: 1px solid rgb(211, 16, 16);
  border-bottom: 1px solid rgb(202, 27, 27); */
  text-align: center;
}

.opciones {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
}

.boton.ver {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.boton img {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
}

.boton.agregar {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #caff8a;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.boton.agregar:hover {
  background-color: #7b9858;
}

.boton.ver:hover {
  background-color: #ffffff7c;
}

.img_miniatura {
  width: 36px;
  height: 36px;
  left: 47px;
  top: 6px;
  border: 1px solid #f1f3f9;
  border-radius: 8px;
}

/* BOTON VER CARRITO*/
.btn-ver-carrito {
  margin-top: 50px;
}
.btn-ver-carrito a {
  text-decoration: none;
}
/* BOLETA DE PAGO */

.container-boletas {
  width: 100vw;
  height: 100vh;
  background: #222533;
  position: FIXED;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boleta-header {
  width: 1000px;
  height: 50px;

  color: white;
  font-family: "Montserrat", sans-serif;

  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2vw;
}
.icon-volver {
  width: 20px;
}

.boleta {
  width: 700px;
  height: 500px;
  padding: 50px;
  border-radius: 20px;
  background: #ffffff;
  margin: 35px 0;
}
.tabla-boleta {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  background: #d9d9d9;

  color: #3e1c6c;
  border-spacing: 0;
  text-align: center;
}

.tabla-boleta thead th {
  border: 1px solid black;
}
.tabla-boleta tbody td {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.btn-boletas {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.boleta__detalles {
  margin: 30px 0;
}


/* ================ Tabla empleados ====================== */


.tabla-empleados {
  border-collapse: collapse;
  width: 62vw;
  height: 60vh;
  font-weight: 400;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.tabla-empleados th{
  font-size: 1.1rem;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 400;
  width: 17%;
  height: 12vh;
}

.tabla-empleados td {
  font-size: 1rem;

  height: 12vh;
  padding: 0.8vh;
  text-align: center;
}



.tabla-empleados th:first-child {
  width: 7%;
}

.texto_stock{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}


/* ================ Tabla empleados mini ====================== */


.tabla-empleados-mini {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border-collapse: collapse;
  width: 50vw;
  height: 60vh;
  font-weight: 400;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.tabla-empleados-mini th{
  font-size: 1.1rem;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 400;
  width: 33.3%;
  height: 12vh;
}

.tabla-empleados-mini td {
  font-size: 1rem;

  height: 12vh;
  padding: 0.8vh;
  text-align: center;
}


.fila_equipo {
  gap: 1vw;
  display: flex;
  flex-wrap: wrap;
}