<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Administrador</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
  <aside>
    <div class="menu">
      <img class="menu__logo" src="./static/resources/images/logo.svg" alt="" />
      <a href="/admin_inicio" class="menu__btn">
        <img class="menu__icon" src="./static/resources/images/icon-home.svg" alt="" />
        <h2 class="menu__categoría">Inicio</h2>
      </a>
      <a href="/admin_inventario" class="menu__btn ">
        <img class="menu__icon" src="./static/resources/images/icon_inventario.png" alt="" />
        <h2 class="menu__categoría">Inventario</h2>
      </a>
      <a href="/admin_empleados" class="menu__btn activo">
        <img class="menu__icon" src="./static/resources/images/icon_empleados.png" alt="" />
        <h2 class="menu__categoría">Empleados</h2>
      </a>
    </div>
    <!-- -->
    <button class="cerrar_sesion" href="">
      <img class="menu__icon" src="./static/resources/images/icon-salir.svg" alt="" />
      <h2 class="menu__categoría">Cerrar Sesión</h2>
    </button>
  </aside>

  <main>
    <header class="header">
      <h2 class="header__tipo-usuario">ADMINISTRADOR</h2>
      <div class="header__usuario">
        <h3 class="header__nombre">Jose Rodolfo</h3>
        <img class="header__icon-usuario" src="././static/resources/images/icon-usuario.svg" alt="" />
      </div>
    </header>

    <div class="contenedor contenedor_inventario">
      <div class="titulo">
        <h1>Empleados</h1>
      </div>

      <a href="#" onclick="nuevoEmpleado()" class="boton nuevo" id="boton">
        Nuevo
      </a>
      <div class="contenedor_tabla">
        <table id="tabla_empleados" class="tabla-empleados">

        </table>
      </div>
    </div>


  </main>


  <!-- ----------------- VENTANA FLOTANTE ------------- -->
  <div id="vent_empleado" class="container-ventana">
    <div class="ventana" style="color:#ffff">
      <a class="ventana__cerrar" href="javascript:cerrar_empleado()"><img class="ventana__cerrar-img"
          src="././static/resources/images/icon-cerrar.svg" alt="" /></a>
      <h2 class="ventana__titulo">Empleado-ventas</h2>

      <table id="ventas_empleado">
        <tr>
          <th>ID</th>
          <th>Monto</th>
          <th>Forma Pago</th>
          <th>Fecha</th>
        </tr>
        
      </table>

    </div>
  </div>

  <!-- ----------------- VENTANA FLOTANTE ------------- -->
  <div id="vent_nuevo_empleado" class="container-ventana">
    <div class="ventana">
      <a class="ventana__cerrar" href="javascript:cerrar_nuevo_empleado()"><img class="ventana__cerrar-img"
          src="././static/resources/images/icon-cerrar.svg" /></a>
      <h2 class="ventana__titulo">Nuevo Empleado</h2>

      <div class="fila">
        <h4 class="texto_nombre">Nombre:</h4>
        <input class="busqueda" type="text" name="buscar" id="nuevo_nombre" placeholder="Nombre" />
      </div>

      <div class="fila">
        <h4 class="texto_usuario">Usuario:</h4>
        <input class="busqueda" type="text" name="buscar" id="nuevo_usuario" placeholder="Usuario" />
      </div>

      <div class="fila">
        <h4 class="texto_contraseña">Contraseña:</h4>
        <input class="busqueda" type="text" name="buscar" id="nuevo_contraseña" placeholder="Contraseña" />
      </div>
      
      <a href="#" onclick="guardarEmpleado()" class="boton nuevo" id="boton">
        Añadir
      </a>
    </div>
  </div>
  <script src="../static/js/doc.js"></script>
  <script src="../static/js/admin_empleados.js"></script>
</body>

</html>